{% load static  %}
<!DOCTYPE html>
<html>
<head>
    <title>table</title>
</head>
<body>
    <form action="{% url 'search_events' %}" method="get" class="zoeken">
        <label for="search">Gebeurtenis Zoeken:</label>
        <input type="text" id="search" name="event">
        <input type="submit" value="Zoeken">
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </form>

    <table class="table">
        <tr>
            <th>Van</th>
            <th>Tot</th>
            <th>Gebeurtenis</th>
        </tr>
        {% for event in events_list %}
        <tr>
            <center><td>{{ event.yearstart }}</td></center>
            <center><td>{{ event.yearend }}</td></center>
            <center class="event"><td>{{ event.event }}</td></center>
        </tr>
        {% endfor %}
    </table>
</body>
</html>